In [1]:
import datetime as dt
import pandas as pd

In [24]:
data = pd.read_csv('hotel_data/hotel_bookings.csv')

In [25]:
columns_name =[column for column in data]
print(columns_name)

['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

In [26]:
data['arrival_date_month']

0           July
1           July
2           July
3           July
4           July
           ...
119385    August
119386    August
119387    August
119388    August
119389    August
Name: arrival_date_month, Length: 119390, dtype: object

In [28]:
data['arrival_date_month'] = pd.to_datetime(data['arrival_date_month'], format='%B').dt.month
print(data['arrival_date_month'])

0         7
1         7
2         7
3         7
4         7
         ..
119385    8
119386    8
119387    8
119388    8
119389    8
Name: arrival_date_month, Length: 119390, dtype: int64

In [29]:
a = {"year":data["arrival_date_year"].values,"month":data["arrival_date_month"].values,"day":data["arrival_date_day_of_month"].values}
print(a)
pd.to_datetime(a)

{'year': array([2015, 2015, 2015, ..., 2017, 2017, 2017]), 'month': array([7, 7, 7, ..., 8, 8, 8]), 'day': array([ 1,  1,  1, ..., 31, 31, 29])}

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Length: 119390, dtype: datetime64[ns]

In [31]:
data['reservation_status_date'].map(dt.datetime.toordinal)

TypeError: descriptor 'toordinal' requires a 'datetime.date' object but received a 'str'

In [2]:
a = pd.DataFrame()
a['x'] = [1, 2, 3]
a['y'] = ['a', 'b', pd.NaT]

In [3]:
print(a)

   x    y
0  1    a
1  2    b
2  3  NaT

In [10]:
a = a.drop(a[a['y'].isna()].index)
a

   x  y
0  1  a
1  2  b